SECRET_KEY=django-secret-key
DB_NAME=oddities_db
DB_USER=admin
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5432
TMDB_READ_ACCESS_TOKEN=TMDB_READ_ACCESS_TOKEN
TMDB_API_KEY=TMDB_API_KEY
BOT_MASTER_KEY=tg_bot_auth_master_key
BOT_TOKEN=tg_bot_token